body{
    width: 1600px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
}
html{
    height: auto;
    outline: none
}
@font-face{
    font-family: 'font1';
    src:url(lato-bold.ttf);
}

@font-face{
    font-family: 'font2';
    src: url(lato-regular.ttf);
}

@font-face{
    font-family: 'font3'
    scr:url(lato-light.ttf)
}

a{
    text-decoration: none;
}
.for{
    height: 150px;
    width: 100%;

}
.for2{
    float: left;
    height: 100px;
    width: calc(100% - 450px);
    padding: 0 225px;
}
.for_new{
    width: 1600px;
    height: 100%;
}
.horor1{
    float: left;
}
.horor{
    float: right;
   
}

.horor3{
    float: left;
    margin-top: 10px;
}
.horor3 p{
    margin-top: 10px;
}
.for3{
    height: 50px;
    margin-bottom: 80px;
}
.for3 nav li{
    float: left;
    margin-left: 25px;
    list-style-type: none;
    
}
.for3 nav li a{
    color: black;
}


.for3 nav{
    height: 50px;
    margin-left: 500px;
    padding-top: 10px;
}



.horor7{
    width: calc(100% - 460px);
    height: 218px;
    background: url(img/Clip13.png);
    padding: 110px 230px;
    margin-top: 150px;
}

.horor7_new{
    width: 100%;
    height: 100%;
}

.odin{
    width: 50%;
    float: left;
}

.dwa{
    width: 50%;
    float: right;
    text-align: center;
    margin-top: 20px
}

.konec{
    width: calc(100% - 460px);
    height: 20px;
    background-color: #E6E6E6;
    padding: 30px 230px;
    margin-top: 67px;
}

.klon{
    width: calc(100%-460px);
    height: 148px;
    background: #F8F3F4;
    padding: 60px 230px 0 230px;
    
}
.klon nav ul li{
    float: left;
    margin-left: 10px;
    list-style-type: none;
    font-size: 14px;
    margin-top: 10px;
}
.klon nav ul li a{
    color: black
}
.klon nav ul li a:hover{
    border-bottom: 2px solid #21212180;
}

.end{
    float: left
}



.end1{
    margin-top: 25px;
}


.flower  {
    width: calc(100% - 460px);
    height: 240px;
    padding: 110px 230px 0 230px;
    margin-bottom: 100px;

}

.tree {
    float: left;
}

.grass {
    margin-left: 70px;
    width: 100px;
    float: left;
}
.three_six{
    margin-left: 130px;
    width: 150px;
    float: left;
}
.four_six{
    margin-left: 70px;
    width: 160px;
    float: left;
}
.browse{
    float: left;
    color: #A4A4A4;
    margin-top: 8px;
    margin-left: 15px;
    width: 403px;
    height: 40px;
    background-color: white;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
}
.leaf {
    color: #F16D7F;
    font-size: 18px;
    font-weight: bold;
    font-family: 'font1';
}
.room{
    color: #898989;
    font-size: 16px;
    line-height: 60px;
    font-family: 'font2';
}

.iu{
    margin-top: 80px;
    margin-left: 220px;
    height: 700px;
  
}

.lol{
    height: 160px;
}

.susa{
    float: left;
    
}

.susa1{
    float: left;
    margin-left: 24px;
    margin-top: 35px;
    
}

.susa2{
    float: left;
    margin-left: 150px;
    margin-top: 75px;
}

.susa3{
    border: 1px solid #EAEAEA;
    width: 50px;
    height: 20px;
    float: left;
    margin-left: 150px;
    margin-top: 75px;
    text-align: center;
    color: #656565;
    
}

.susa4{
    float: left;
    margin-top: 75px;
    margin-left: 150px;
}

.susa5{
    float: left;
    margin-top: 75px;
    margin-left: 150px;
}

.caps{
    float: left;
    width: 190px;
    height: 50px;
    background-color: white;
    border: 1px solid #EAEAEA;
    margin-left: 2px;
    margin-top: 40px;
    
}


.caps1{
    width: 180px;
    height: 50px;
    background-color: white;
    border: 1px solid #EAEAEA;
    float: left;
    margin-left: 782px;
    margin-top: 40px;
  
}

.cap{
    float: left;
    width: 150px;
    height: 50px;
    background-color: white;
    border: 1px solid #EAEAEA;
    margin-left: 220px;
    margin-top: 40px;
}


.for3 a:hover {
 color:#EF5B70;
}